* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

header{
    width: 100%;
    height: 70px;
    padding: 20px;
    background-color: #272C3D;
    box-shadow: 0px 0px 10px 10px #00000080;
    position: fixed;
    z-index: 1;
}

.header_nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.header_nav>ul {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.header_nav>ul>li {
    list-style: none;
}

.header_nav>ul>li>a {
    font-family: Quantico;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.6px;
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

.header_nav>ul>li>a:hover {
    color: #FF9C28;
    transition: 0.5s;
    font-family: Quantico;
    font-size: 22px;
    font-weight: 420;
    line-height: 30.6px;
}

.header_search-wrapper {
    display: flex;
    justify-content: space-around;
    gap: 34px;
}

.header_nav-search  {
    position: relative;
    width: 190px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
    border: none;
}

.header_nav-search>input {
    background-color: #404864;
    color: white;
    border-radius: 5px;
    padding: 5px;
    border: none;
    width: 190px;
    height: 30px;
    transition: 0.7s;
}

.header_nav-search>input:hover {
    background-color: #4d5a88;
    height: 35px;
    border: none;
    border-radius: 7px;
    transition: 0.7s;
}

.header_nav-search>img {
    position: absolute
}

select {
    background-color: #00000080;
    width: 130px;
    height: 30px;
    color: white;   
    border: none;
    border-radius: 5px;
    padding: 3px;
    font-family: Quantico;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.02px;
    transition: 0.5s;
}

select:hover {
    background-color: #37373731;
    transition: 0.5s;
}

option {
    font-family: Quantico;
    color: black;
    background-color: white;
}

.header_bg-img {
    background-image: url("assets/image/Bg-image.jpg");
    background-size:cover;
    height: 110vh;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

.header_text{
    color: white;
    font-family: Quantico;
    font-size: 34px;
    font-weight: 400;
    line-height: 34.32px;
    margin: 0 50px 20px 0;
}

.header_mini-text {
    font-family: Quantico;
    font-size: 20px;
    font-weight: 200;
    line-height: 10.02px;
    margin: 0 50px 40px 0;
    color: #FFFFFFCC;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #000000;
}

.main_first-text {
    margin: 20px 0 0 80px;
    font-family: Quantico;
    font-size: 42px;
    font-weight: 400;
    line-height: 45.76px;
    color: rgb(255, 255, 255);
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 0 50px 0 0;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 5px;
    user-select: none;
    text-decoration: none;
    z-index: 0;
}

.prev {
    left: -150px;
    z-index: 0;
}

.next {
    right: -150px;
    border-radius: 5px;
    z-index: 0;
    text-decoration: none;
}
  
.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.049);
}

  
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 20px 0 0;
    background-color: #88888871;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #ffffffc3;
}
  
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.carusel_ziros {
    margin: 0 50px 23px 0;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
  
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

.main_cection {
    background-color: #1B1E27;
    height: 950px;
    margin: 0 0 30px 0;
    box-shadow: 0px 0px 10px 5px #464646;
}

.main_first {
    position: relative;
}

.main_text-big {
    position: absolute;
    top: 25px;
    left: 140px;
}

.main_text-big {
    font-family: Quantico;
    font-size: 24px;
    font-weight: 400;
    line-height: 34.32px;
    color: white;
}

.main_second {
    position: relative;
}

.main_text-mini {
    position: absolute;
    top: 25px;
    left: 140px;
}

.main_text-mini {
    font-family: Quantico;
    font-size: 24px;
    font-weight: 400;
    line-height: 34.32px;
    color: white;
}

.main_text-first {
    width: 555px;
    font-family: Quantico;
    font-size: 14px;
    font-weight: 400;
    line-height: 30.02px;
    padding: 0 100px 15px 17px;
    color: #BFBFBF;
}

.main_text-second {
    width: 555px;
    font-family: Quantico;
    font-size: 14px;
    font-weight: 400;
    line-height: 30.02px;
    padding: 0 100px 15px 17px;
    color: #BFBFBF;
}

.main_foto {
    width: 400px;
    height: 234px;
    margin: 0 0 0 100px;
}

.main_foto-text {
    display: flex;
    padding: 80px 40px;
}

.main_nav-wrapper {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 360px;
    left: 110px;
}

.main_nav-wrapper>li {
    list-style: none;
}

.main_nav-wrapper>li>a {
    text-decoration: none;
    font-family: Quantico;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.02px;
    color: white;
}

footer {
    background-color: #272C3D;
    height: 100%;
    box-shadow: 0px 0px 10px 7px #4b4b4b89;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 50px;
}

.footer_nav {
    padding: 15px 0 0 0;
}

.footer_nav>ul {
    display: flex;
    gap: 20px;
}

.footer_nav>ul>li {
    list-style: none;
}

.footer_nav>ul>li>a {
    font-family: Quantico;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.6px;
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

.footer_nav>ul>li>a:hover {
    color: #FF9C28;
    transition: 0.5s;
    font-family: Quantico;
    font-size: 22px;
    font-weight: 420;
    line-height: 30.6px;
}
